require 'thor'
require 'creq'

class <%=config[:project].capitalize%> < Thor
  include Thor::Actions
  include Creq

  desc "toc", "Table of contents"
  def toc
    requirements_repository
      .inject([], :<<)
      .tap {|a| a.delete_at(0); say "\n-= Contents: #{Dir.pwd} =-"}
      .each{|r| puts "#{'  ' * (r.level - 1)}[#{r.id}] #{r.title}"}
  end

end
