Five Ws: As `who` `when` `where`, I `what` because `why`.
Connextra: As a `role`, I want `goal/desire` so that `benefit`.
Mike Cohn: As a `role`, I want `goal/desire`
Chris Matts: In order to `receive benefit` as a `role`, I want `goal/desire`.
Capital One: As a `role`, I can `action with system` so that `external benefit`.
